html {
  scroll-behavior: smooth;
}

.backtop_tool {
  position: fixed;
  bottom: 7px;
  right: 7px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.backtop_tool:hover {
  background-color: #00cc99;
  transition: 0.5s;
}

.header_club {
  background-color: #f6f6f8;
  padding: 0.5rem;
}

.header_club-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header_club a {
  text-decoration: none;
}

.header_fb {
  padding-right: 10px;
  margin-right: 5px;
  border-right: 1px solid #cccccc;
}

.header_fb img {
  vertical-align: top;
  padding-right: 2px;
}

.header_fb a:link,
.header_fb a:visited {
  color: #4267b2;
}

.header_fb a:hover {
  border-bottom: 1px solid #4267b2;
}

.header_twitter img {
  vertical-align: top;
  padding-right: 2px;
}

.header_twitter a:link,
.header_twitter a:visited {
  color: #1da1f2;
}

.header_twitter a:hover {
  border-bottom: 1px solid #1da1f2;
}

.header_main {
  background-color: #fff;
  padding: 2rem;
}

.header_main-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  background-image: url("https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/logo.png");
  width: 224px;
  height: 50px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.header_logo a {
  display: block;
  height: 50px;
}

.header_nav {
  display: flex;
}

.header_nav-item a {
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
}

.header_nav-item a:link,
.header_nav-item a:visited {
  color: #00251a;
  font-weight: bold;
}

.header_nav-item a:hover,
.header_nav-item a:active {
  border-bottom: 4px solid #69f0ae;
}

.main_container {
  width: 70%;
  margin: 0 auto;
}

.banner {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  background-image: url("https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/banner.png");
  background-size: cover;
  margin-bottom: 50px;
}

.banner_design {
  padding: 50px 0;
  width: 100%;
  background-color: rgb(255, 255, 255, 0.15);
}

.banner_title {
  margin-left: 350px;
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
}

.card-group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 80px;
}

.toolcard {
  width: 25%;
  padding: 20px;
  justify-content: center;
  color: #000000;
  box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.06);
}

.toolcard:hover {
  transform: translateY(-20px);
  box-shadow: 0px 20px 40px -10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}

.toolcard_img {
  margin: 0 auto;
  margin-bottom: 20px;
}

.toolcard_title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.toolcard_detail {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 2px;
}

.toolcard_list {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 2px;
  list-style: disc;
  padding-left: 30px;
}

.table {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 80px;
}

.table_title {
  font-family: Microsoft JhengHei UI;
  font-size: 24px;
  font-weight: 700;

  text-align: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

.table tr {
  border-bottom: 1px solid #ccc;
}

.table td {
  padding: 15px;
}

.table th {
  text-align: left;
  font-family: Microsoft JhengHei UI;
  font-size: 16px;
  font-weight: 700;
  background-color: #ddd;

  padding: 15px;
}

.table_point {
  color: #00cc99;
}

.info {
  width: 100%;
  padding: 30px;
  background: linear-gradient(180deg, #e4fff8 0%, #a2ddce 100%);
}

.info_title {
  font-family: Microsoft JhengHei UI;
  font-size: 24px;
  font-weight: 700;
  color: #00251a;
  line-height: 1.2;
  text-align: center;

  padding: 20px 0;
}

.form {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
}

.form_left {
  width: 45%;
  margin-left: auto;
}

.form_right {
  width: 45%;
}

.form_label {
  font-family: Microsoft JhengHei UI;
  font-size: 16px;
  font-weight: 400;
  color: #00251a;
  display: block;
  padding: 10px 10px 10px 0;
}

.form input {
  width: 80%;
  padding: 10px 10px;
  border: 1px solid #aaa;
  border-radius: 3px;
}

.form_comments {
  resize: none;
  width: 80%;
  border: 1px solid #aaa;
  border-radius: 3px;
}

.form input:focus,
.form_comments:focus {
  outline: none;
  border: 1px solid #a2ddce;
}

.form_button {
  background-color: #00251a;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-family: Microsoft JhengHei UI;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 3px;
  text-align: center;

  display: block;
  margin: 0 auto;
  padding: 15px 80px;
}

.form_button:hover {
  background-color: #00cc99;
  color: #000;
  transition: all 0.5s;
}

.page_footer {
  background-color: #fff;
  padding: 2rem;
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer_img {
  margin: auto 0;
}

.footer_listitem {
  font-size: 20px;
  line-height: 1.5;
}

.footer_word {
  color: #00cc99;
  text-decoration: none;
  letter-spacing: 1px;
}

.footer_word:hover {
  border-bottom: 1px solid #00cc99;
}
