html {
  scroll-behavior: smooth;
}

.backtop_tool {
  position: fixed;
  bottom: 7px;
  right: 7px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.backtop_tool:hover {
  background-color: #00cc99;
  transition: 0.5s;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.header_club {
  background-color: #f6f6f8;
  padding: 0.5rem;
}

.header_club-container {
  width: 95%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header_club-container img {
  vertical-align: top;
  padding-right: 2px;
}

.header_club a {
  text-decoration: none;
}

.header_fb {
  padding-right: 10px;
  margin-right: 5px;
  border-right: 1px solid #cccccc;
}

.header_fb a:link,
.header_fb a:visited {
  color: #4267b2;
}

.header_fb a:hover {
  border-bottom: 1px solid #4267b2;
}

.header_twitter a:link,
.header_twitter a:visited {
  color: #1da1f2;
}

.header_twitter a:hover {
  border-bottom: 1px solid #1da1f2;
}

.header_main {
  background-color: #fff;
  padding: 2rem;
}

.header_main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  background-image: url("https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/logo.png");
  width: 224px;
  height: 50px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.header_logo a {
  display: block;
  height: 50px;
}

.header_nav {
  display: flex;
}

.header_nav-item a {
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
}

.header_nav-item a:link,
.header_nav-item a:visited {
  color: #00251a;
  font-weight: bold;
}

.header_nav-item a:hover,
.header_nav-item a:active {
  border-bottom: 4px solid #69f0ae;
}

.banner {
  height: 500px;
  display: flex;
  align-items: center;
  background-image: url("https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/banner.png");
  background-size: cover;
  margin-bottom: 50px;
}

.banner_design {
  padding: 50px 0;
  width: 100%;
  background-color: rgb(255, 255, 255, 0.15);
}

.banner_title {
  margin-left: 15%;
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
}

.card-group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 80px;
}

.toolcard {
  width: 350px;
  padding: 20px;
  justify-content: center;
  color: #000000;
  box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.06);
}

.toolcard:hover {
  transform: translateY(-20px);
  box-shadow: 0px 20px 40px -10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}

.toolcard_img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.toolcard_title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.toolcard_detail {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 2px;
}

.toolcard_list {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 2px;
  list-style: disc;
  padding-left: 30px;
}

.table {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 80px;
}

.table_title {
  font-family: Microsoft JhengHei UI;
  font-size: 24px;
  font-weight: 700;

  text-align: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

.table tr {
  border-bottom: 1px solid #ccc;
}

.table td {
  padding: 15px;
}

.table th {
  text-align: left;
  font-family: Microsoft JhengHei UI;
  font-size: 16px;
  font-weight: 700;
  background-color: #ddd;

  padding: 15px;
}

.table_point {
  color: #00cc99;
}

.info {
  padding: 30px;
  background: linear-gradient(180deg, #e4fff8 0%, #a2ddce 100%);
}

.info_title {
  font-family: Microsoft JhengHei UI;
  font-size: 24px;
  font-weight: 700;
  color: #00251a;
  line-height: 1.2;
  text-align: center;

  padding: 20px 0;
}

.form {
  padding-bottom: 40px;
  display: flex;
  justify-content: space-around;
}

.form_left {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form_info {
  width: 70%;
}

.form_info input {
  width: 100%;
}

.form_right {
  width: 45%;
}

.form_label {
  font-family: Microsoft JhengHei UI;
  font-size: 16px;
  font-weight: 400;
  color: #00251a;
  display: block;
  padding: 10px 10px 10px 0;
}

.form input {
  padding: 10px 10px;
  border: 1px solid #aaa;
  border-radius: 3px;
}

.form_comments {
  resize: none;
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 3px;
}

.form input:focus,
.form_comments:focus {
  outline: none;
  border: 1px solid #a2ddce;
}

.form_button {
  background-color: #00251a;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-family: Microsoft JhengHei UI;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 3px;
  text-align: center;
  cursor: pointer;

  display: block;
  margin: 0 auto;
  padding: 15px 80px;
}

.form_button:hover {
  background-color: #00cc99;
  color: #000;
  transition: all 0.5s;
}

.page_footer {
  background-color: #fff;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.footer_logo {
  background-image: url("https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/footerLogo.png");
  width: 171px;
  height: 36px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  margin: auto 0;
}

.footer_logo a {
  display: block;
  height: 50px;
}

.footer_listitem {
  font-size: 20px;
  line-height: 1.5;
}

.footer_word {
  color: #00cc99;
  text-decoration: none;
  letter-spacing: 1px;
}

.footer_word:hover {
  border-bottom: 1px solid #00cc99;
}

@media screen and (max-width: 1024px) {
  .card-group {
    margin-bottom: 50px;
  }

  .toolcard_title {
    font-size: 20px;
  }

  .toolcard_detail {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 1.5px;
  }

  .toolcard_list {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .header_main {
    padding: 1rem;
  }

  .header_fb a:hover {
    border-bottom: none;
  }

  .header_twitter a:hover {
    border-bottom: none;
  }

  .header_nav {
    width: 40%;
    flex-wrap: wrap;
  }

  .header_nav-item {
    width: 50%;
    text-align: center;
    border: 1px solid #69f0ae;
  }

  .header_nav-item a {
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  .header_nav-item a:hover,
  .header_nav-item a:active {
    border-bottom: none;
  }

  .banner {
    height: 350px;
  }

  .banner_title {
    font-size: 32px;
    text-align: center;
    margin: 0 auto;
  }

  .card-group {
    margin-bottom: 80px;
    flex-wrap: wrap;
  }

  .toolcard_title {
    font-size: 24px;
  }

  .toolcard {
    width: 65%;
    padding: 15px;
  }

  .toolcard:hover {
    transform: none;
    transition: none;
    box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.06);
  }

  .toolcard_detail {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 2px;
  }

  .toolcard_list {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 2px;
    padding-left: 30px;
  }

  .table {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 60px;
  }

  .table td {
    padding: 15px 10px;
  }

  .table th {
    padding: 15px 10px;
  }

  .info {
    padding: 20px;
  }

  .form {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form_left {
    width: 100%;
    align-items: center;
  }

  .form_right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .page_footer {
    flex-direction: column;
    align-items: center;
  }

  .footer_logo {
    margin-bottom: 20px;
  }

  .footer_list {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .header_club-container {
    width: 100%;
  }

  .header_main-container {
    display: flex;
    flex-direction: column;
  }

  .header_nav {
    width: 80%;
    margin: 20px 20px 0 20px;
  }

  .header_nav-item a {
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }

  .toolcard_title {
    font-size: 20px;
  }

  .toolcard_detail {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 1.5px;
  }

  .toolcard_list {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    padding-left: 20px;
  }
}
